@mixin reset {
    padding: 0px;
    margin: 0px;
}

@mixin openSansFourth {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

@mixin openSansSixth {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

@mixin openSansSeventh {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

@mixin openSansEighth {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

*{
    @include reset;
    font-size: 10px;
    text-decoration: none;
}
.main-screen{
    width: 100%;
    height: 100vh;
    padding: 0px;
    background:  url('../../img/bg.png')  center / cover no-repeat;
    text-align: center;
    padding: 32px 0px 71px;
    color: white;
    &-title{
      @include reset;
      margin-top: 337px;
      font-family: 'Bebas Neue', cursive;
      font-size: 6rem;
      font-weight: 400;
      line-height: 7rem;
      letter-spacing: .5rem;
    }
    &-descr{
        @include reset;
        @include openSansFourth;
        font-size: 1.6rem;
        line-height: 2.1rem;
        margin-bottom: 225px;
    }
     &-scroll{
        color: white;
        @include openSansFourth;
        text-transform: uppercase;
        font-size: 1.1rem;
        letter-spacing: .3rem;
        line-height: 1.5rem;
    }
}

nav{
    width: 100%;
    border-bottom: 1px solid #E6E6E6;
}


.nav-container{
    // max-width: calc(100% - 20%);
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px;
    .nav-items{
        display: flex;
        list-style-type: none;
        width: 45%;
        justify-content: space-between;
        @media screen and (max-width: 750px) {
            flex-direction: column;
            text-align: right;
        }
        // @include reset;
        &-elem a{
            text-decoration: none;
            color: black;
            font-size: 1.2rem;
            line-height: 1.6rem;
            letter-spacing: .1rem;
            color: #48555B;
            @include openSansSixth;
            transition: .5s;
            &:hover{
                @include openSansSeventh;
                color:#00A4E5;
                // transition: .5s;
            }
        }
    }
} 

.story{
    padding-top: 57px;
    text-align: center;
    &-header{
        // position: relative;
        @include openSansSeventh;
        font-size: 1.8rem;
        line-height: 2.4rem;
        letter-spacing: 0.2rem;
        color: #48555B; 
        &::after{
        content: '';
        display: block;
        width: 50px;
        height: 2px;
        margin: 0 auto;
        background-color: #00A4E5;
        margin-top: 10px;
        }
    }
    &-wrapper{
        // max-width: 1000px;
        max-width: calc(100% - 20%);
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 0 auto;
        margin-top: 70px;
        @media screen and (max-width: 1000px) {
            align-items: center;
        }
        &-text{
            width: 40%;
            text-align: left;
            &-header{
                @include openSansSeventh;
                font-size: 2rem;
                line-height: 2.8rem;
                letter-spacing: 0.01rem;
                color: #48555B;
                letter-spacing: 0.02rem;
                .blue{
                    color:#00A4E5;
                    @include openSansSeventh;
                    font-size: 2rem;
                    line-height: 2.8rem;
                    letter-spacing: 0.01rem;
                    letter-spacing: 0.02rem;
                }
            }
            &-descr{
                margin-top: 30px;
                @include openSansFourth;
                font-size: 1.3rem;
                line-height: 2.3rem;
                letter-spacing: 0.02rem;
                color: #48555B;
            }
        }
        &-photo{
            width: 45%;
            display: grid;
            grid-template-columns: 30% 30% 30%;
            grid-gap: 5%;
            @media screen and (max-width: 1000px) {
                grid-template-rows: 3;
                grid-template-columns: 100%;
            }
            &-item{
                width: 160px;
                @media screen and (max-width: 1350px) {
                    width: 140px;
                }
                @media screen and (max-width: 1150px) {
                    width: 120px;
                }
                height: 224px;
                background: url('../../img/we-manage.png') center / cover no-repeat;
                justify-self: center;
                &:first-child{
                    background: url('../../img/we-plan.png') center / cover no-repeat;
                    justify-self: start;
                    @media screen and (max-width: 1000px) {
                        justify-self: center;
                    }
                }
                &:last-child{
                    background: url('../../img/we-build.png') center / cover no-repeat;
                    justify-self: end;
                    @media screen and (max-width: 1000px) {
                        justify-self: center;
                    }
                }
                .item-descr{
                    padding: 18px;
                    @media screen and (max-width: 1150px) {
                        padding-left: 5px;
                    }
                    text-align: left;
                    color: white;
                    @include openSansEighth;
                    font-size: 2.4rem;
                    line-height: 2.9rem;

                }
            }
           
            
        }
    }
   
}

@media screen and (max-width: 1350px) {

}